/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

$background-color: #ea6900;

$h-width: 0.669em;

html {
    font-size: 16px;
}

html, body {
    min-height: 100%;
}

body {
    font: 16px/1.4em "Helvetica Neue", "Helvetica", Arial, sans-serif;  
    color: #fff;
    background: url(../img/selfie.png)  right bottom $background-color no-repeat;
    background-size: contain;    
    height: 100%;
    line-height: 1.4;
}

#container {
    max-width:1200px;
    padding: 3rem;
    min-height: 100%;
}

h1 {
    font: 4em "Helvetica Neue", Arial, Sans;
    font-weight: bold;
    margin: 0;
    padding:  0 0 0 0.005em;
    line-height: 0.715em;
    span {
        display: block;
        margin-left: -0.074em;
    }
}

.timeline {    
    background:linear-gradient(to right, #fff $h-width, rgba(255,255,255, 0) $h-width);
    margin: 0;
    padding: 1rem 0;
    list-style: none;
    width: 50vw;
    counter-reset: li 2015;

    li {
        padding-left: 4em;
        position: relative;
        margin-bottom: 2rem;
    }

    li:before {
        content: counter(li);
        counter-increment: li -1;
        color: $background-color;
        background-color: #fff;
        border-radius: 50%;
        font-size: 2rem;
        text-align: center;

        width: 6rem;
        height: 6rem;
        position: absolute;
        display: block; 
        left: -2.6rem;
        line-height:6rem;
        font-weight: bold;
        
    }

    h2 {
        font-size: 2rem;
        line-height:1;
        margin-bottom: 0;
    }

    h3 {
        font-size: 1.4rem;
        line-height:1;
        margin-bottom: 0;

    }

    p {
        font-size: 1rem;
    }
};

a:link, a:visited {
    color:#fff;
    text-decoration: none;
    border-bottom: 1px dotted #fff;
}

a:hover {
    text-decoration: none;
}