/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/";
@import "compass/typography/vertical_rhythm";
@import "compass/utilities/general/clearfix";
@import "compass/utilities/general/float";

$base-font-size: 16px;
$base-line-height: 24px;
@include establish-baseline;

$background-color: #ea6900;

.float-left {
    @include float-left;
}

.float-right {
    @include float-right;
}

.clearfix {
      @include pie-clearfix;  
}

html {
    font-size: 16px;
}

html, body {
    min-height: 100%;
}

body {
    font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;  
    color: #fff;
    background: url(../img/selfie.png)  right bottom $background-color no-repeat;
    background-size: 50%;
    height: 100%;
    line-height: 1.4;
}

#container {
    max-width: 900px;
    margin: 5% ;
    min-height: 100%;
    background-size: 18em;
    @include pie-clearfix;
}

.logo {
    
    width: 18em;
    height: 9em;
    
    
    h1 {
        text-indent: -9999em;

    }

}

.timeline-container, .skills-container {    
    margin: 0 1%;
}

.timeline-container {
    background: url(../img/logo.svg) 0 0 transparent no-repeat;
        /* background: url(../img/logo.png) 0 0 transparent no-repeat; */
    background-size: 18em;
    margin-bottom: 1em;
}

.timeline {
    margin: 0;
    padding: 1rem 0;
    list-style: none;
    counter-reset: li 2015;
    background-size: 10%;
    max-width: 30em;
    

    .timeline-item {
        padding-left: 6em;
        position: relative;
        margin-bottom: 2rem;
    }

    .timeline-item:before {
        content: counter(li);
        counter-increment: li -1;
        color: $background-color;
        background-color: #fff;
        border-radius: 50%;
        @include adjust-font-size-to(36px);
        text-align: center;
	
	
        width: 3em;
        height: 3em;
        position: absolute;
        display: block; 
        left: -1.7rem;
        top: -0.85em;
        line-height:3em; /* Would love to use rem units, but it seems IE11 has a bug with rendering line-height in rem units */
        font-weight: bold; 
        vertical-align: middle;
    }

    .timeline-item:nth-child(2):before {
        counter-reset: li 2015;        
    }

    .timeline-item:nth-child(3):before {
        counter-reset: li 2013;        
    }

     .timeline-item:nth-child(4):before {
        counter-reset: li 2011;        
    }

     .timeline-item:nth-child(5):before {
        counter-reset: li 2010;        
    }

     .timeline-item:nth-child(6):before {
        counter-reset: li 2007;        
    }

    h2 {
    	font-weight: light; 
        @include adjust-font-size-to(36px);
        @adjust-leading-to(1, $base-font-size)
    }

    h3 {
    	font-weight: light;
 	@include adjust-font-size-to(24px);
        }
};

.skills-container {
     padding-top: 1em;
}

.skills {
    min-width: 10.5em;
}

.skills dt, .skills dd {
    @include float-left;
    width: 48%;
    margin: 0 1%;
}

.skills dt {
    clear: left;
    text-align: right;    
}

/*
*
*   Rating HTML/CSS adapted from CSS tricks: http://css-tricks.com/star-ratings/ 
* 
 */

.skills dd {
    direction: rtl;
}

.skills span
{
    width: 0.5em;
    height: 0.5em;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid #fff;
    display: inline-block;
}

.skills .s5 span {
    background-color: #fff;
}

.skills .s4 span:nth-child(1) ~ span {
    background-color: #fff;
}

.skills .s3 span:nth-child(2) ~ span {
    background-color: #fff;
}

.skills .s2 span:nth-child(3) ~ span {
    background-color: #fff;
}

.skills .s1 span:nth-child(4) ~ span {
    background-color: #fff;
}

a:link, a:visited {
    color:#fff;
    text-decoration: none;
    border-bottom: 1px dotted #fff;
}

a:hover {
    text-decoration: none;
}