/* Welcome to Compass. Use this file to write IE specific override styles.
 * Import this file using the following HTML or equivalent:
 * <!--[if IE]>
 *   <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
 * <![endif]--> */
/* line 7, ../sass/ie.scss */
.timeline-container {
  background: url(../img/logo.png) 0 0 transparent no-repeat;
  background-size: 18em;
  margin-bottom: 1em;
}
