/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../usr/local/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../usr/local/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../usr/local/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../usr/local/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../usr/local/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../usr/local/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../usr/local/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../usr/local/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../usr/local/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 106, ../../../../../usr/local/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 100%;
  line-height: 1.5em;
}

/* line 18, ../sass/screen.scss */
.float-left {
  float: left;
}

/* line 22, ../sass/screen.scss */
.float-right {
  float: right;
}

/* line 26, ../sass/screen.scss */
.clearfix {
  *zoom: 1;
}
/* line 38, ../../../../../usr/local/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/general/_clearfix.scss */
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* line 30, ../sass/screen.scss */
html {
  font-size: 16px;
}

/* line 34, ../sass/screen.scss */
html, body {
  min-height: 100%;
}

/* line 38, ../sass/screen.scss */
body {
  font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
  color: #fff;
  background: url(../img/selfie.png) right bottom #ea6900 no-repeat;
  background-size: 50%;
  height: 100%;
  line-height: 1.4;
}

/* line 47, ../sass/screen.scss */
#container {
  max-width: 900px;
  margin: 5%;
  min-height: 100%;
  background-size: 18em;
  *zoom: 1;
}
/* line 38, ../../../../../usr/local/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/general/_clearfix.scss */
#container:after {
  content: "";
  display: table;
  clear: both;
}

/* line 55, ../sass/screen.scss */
.logo {
  width: 18em;
  height: 9em;
}
/* line 61, ../sass/screen.scss */
.logo h1 {
  text-indent: -9999em;
}

/* line 68, ../sass/screen.scss */
.timeline-container, .skills-container {
  margin: 0 1%;
}

/* line 72, ../sass/screen.scss */
.timeline-container {
  background: url(../img/logo.svg) 0 0 transparent no-repeat;
  /* background: url(../img/logo.png) 0 0 transparent no-repeat; */
  background-size: 18em;
  margin-bottom: 1em;
}

/* line 79, ../sass/screen.scss */
.timeline {
  margin: 0;
  padding: 1rem 0;
  list-style: none;
  counter-reset: li 2015;
  background-size: 10%;
  max-width: 30em;
}
/* line 88, ../sass/screen.scss */
.timeline .timeline-item {
  padding-left: 6em;
  position: relative;
  margin-bottom: 2rem;
}
/* line 94, ../sass/screen.scss */
.timeline .timeline-item:before {
  content: counter(li);
  counter-increment: li -1;
  color: #ea6900;
  background-color: #fff;
  border-radius: 50%;
  font-size: 2.25em;
  line-height: 1.33333em;
  text-align: center;
  width: 3em;
  height: 3em;
  position: absolute;
  display: block;
  left: -1.7rem;
  top: -0.85em;
  line-height: 3em;
  /* Would love to use rem units, but it seems IE11 has a bug with rendering line-height in rem units */
  font-weight: bold;
  vertical-align: middle;
}
/* line 115, ../sass/screen.scss */
.timeline .timeline-item:nth-child(2):before {
  counter-reset: li 2015;
}
/* line 119, ../sass/screen.scss */
.timeline .timeline-item:nth-child(3):before {
  counter-reset: li 2013;
}
/* line 123, ../sass/screen.scss */
.timeline .timeline-item:nth-child(4):before {
  counter-reset: li 2011;
}
/* line 127, ../sass/screen.scss */
.timeline .timeline-item:nth-child(5):before {
  counter-reset: li 2010;
}
/* line 131, ../sass/screen.scss */
.timeline .timeline-item:nth-child(6):before {
  counter-reset: li 2007;
}
/* line 135, ../sass/screen.scss */
.timeline h2 {
  font-weight: light;
  font-size: 2.25em;
  line-height: 1.33333em;
  @adjust-leading-to (1, $base-font-size);
}
/* line 141, ../sass/screen.scss */
.timeline h3 {
  font-weight: light;
  font-size: 1.5em;
  line-height: 2em;
}

/* line 147, ../sass/screen.scss */
.skills-container {
  padding-top: 1em;
}

/* line 151, ../sass/screen.scss */
.skills {
  min-width: 10.5em;
}

/* line 155, ../sass/screen.scss */
.skills dt, .skills dd {
  float: left;
  width: 48%;
  margin: 0 1%;
}

/* line 161, ../sass/screen.scss */
.skills dt {
  clear: left;
  text-align: right;
}

/*
*
*   Rating HTML/CSS adapted from CSS tricks: http://css-tricks.com/star-ratings/ 
* 
 */
/* line 172, ../sass/screen.scss */
.skills dd {
  direction: rtl;
}

/* line 176, ../sass/screen.scss */
.skills span {
  width: 0.5em;
  height: 0.5em;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid #fff;
  display: inline-block;
}

/* line 186, ../sass/screen.scss */
.skills .s5 span {
  background-color: #fff;
}

/* line 190, ../sass/screen.scss */
.skills .s4 span:nth-child(1) ~ span {
  background-color: #fff;
}

/* line 194, ../sass/screen.scss */
.skills .s3 span:nth-child(2) ~ span {
  background-color: #fff;
}

/* line 198, ../sass/screen.scss */
.skills .s2 span:nth-child(3) ~ span {
  background-color: #fff;
}

/* line 202, ../sass/screen.scss */
.skills .s1 span:nth-child(4) ~ span {
  background-color: #fff;
}

/* line 206, ../sass/screen.scss */
a:link, a:visited {
  color: #fff;
  text-decoration: none;
  border-bottom: 1px dotted #fff;
}

/* line 212, ../sass/screen.scss */
a:hover {
  text-decoration: none;
}
